{%if loadedPhone is defined %}
    <table>
        <tbody>
            <tr>
                <th>Numer telefonu</th>
                <td>{{ loadedPhone.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Typ</th>
                <td>{{ loadedPhone.type }}</td>
            </tr>
        </tbody>
    </table>
{%endif%}



{{ form_start(form) }}

{{ form_widget(form) }}

{{ form_end(form) }}

 <a href="{{ path('person_show', { 'id': loadedPhone.id }) }}">Pokaż szczegóły</a>