{% extends 'base.html.twig' %}

{% block body %}
    <h1>Addre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ addre.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ addre.city }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ addre.street }}</td>
            </tr>
            <tr>
                <th>Housenumber</th>
                <td>{{ addre.houseNumber }}</td>
            </tr>
            <tr>
                <th>Appartmentnumber</th>
                <td>{{ addre.appartmentNumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('addres_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('addres_edit', { 'id': addre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
