{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <div>
            {{ form_start(newPersonForm) }}
            {{ form_widget(newPersonForm) }}
            {{ form_end(newPersonForm) }}
        </div>
        <div>
            {{ form_start(searchPersonForm) }}
            {{ form_widget(searchPersonForm) }}
            {{ form_end(searchPersonForm) }}
        </div>
        <ul>
            <li>
                <a href="{{path('workshop_5_groups_addgroup')}}">Pokaż grupy lub dodaj nową grupę</a>
            </li>

        </ul>
        <div>
            {% for person in people %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.surname }}</td>
                    <td>{{ person.description }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('person_show', { 'id': person.id }) }}">Pokaż szczegóły</a>
                            </li>
                            <li>
                                <a href="{{ path('workshop_5_person_deleteperson', { 'id': person.id }) }}">Skasuj osobę</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </div>
    </tbody>
</table>
{% endblock %}